<div class="container m-5">
  <div id="definir-voo">
    <form [formGroup]="definirVooForm" (ngSubmit)="continuar()">
      <div class="form-group">
        <label for="paisDeOrigem">País de origem:</label>
        <select id="paisDeOrigem" class="form-control" formControlName="idPaisDeOrigem">
          <option *ngFor="let country of countries" [ngValue]="country.id">{{ country.country }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="cidadeDeOrigem">Cidade de origem:</label>
        <select id="cidadeDeOrigem" class="form-control" formControlName="idCidadeDeOrigem">
          <option *ngFor="let city of citiesFrom" [ngValue]="city.id">{{ city.city }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="paisDeDestino">País de destino:</label>
        <select id="paisDeDestino" class="form-control" formControlName="idPaisDeDestino">
          <option *ngFor="let country of countries" [ngValue]="country.id">{{ country.country }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="cidadeDeDestino">Cidade de destino:</label>
        <select id="cidadeDeDestino" class="form-control" formControlName="idCidadeDeDestino">
          <option *ngFor="let city of citiesTo" [ngValue]="city.id">{{ city.city }}</option>
        </select>
      </div>

      <div class="row">
        <div class="col-6">
          <div>Adultos:</div>
          <div>
            <button type="button" class="btn btn-primary" (click)="decrementarQuantidadeAdultos()">-</button>
            <span class="mx-2">{{ quantidadeAdultos }}</span>
            <button type="button" class="btn btn-primary" (click)="incrementarQuantidadeAdultos()">+</button>
          </div>
        </div>
        <div class="col-6">
          <div>Crianças:</div>
          <div>
            <button type="button" class="btn btn-primary" (click)="decrementarQuantidadeCriancas()">-</button>
            <span class="mx-2">{{ quantidadeCriancas }}</span>
            <button type="button" class="btn btn-primary" (click)="incrementarQuantidadeCriancas()">+</button>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <div class="form-check form-check-inline">
          <input id="classeEconomica" class="form-check-input" type="radio" name="classeOption" value="classeEconomica" formControlName="tipoVoo">
          <label class="form-check-label" for="classeEconomica">Econômica</label>
        </div>
        <div class="form-check form-check-inline">
          <input id="classeExecutiva" class="form-check-input" type="radio" name="classeOption" value="classeExecutiva" formControlName="tipoVoo">
          <label class="form-check-label" for="classeExecutiva">Executiva</label>
        </div>
      </div>

      <div class="form-group mt-3">
        <label for="milhas">Utilizar {{ milhas }} milhas:</label>
        <input id="milhas" type="number" class="form-control" formControlName="milhas">
      </div>

      <div class="mt-3">
        <button class="btn btn-primary">Continuar</button>
      </div>
    </form>
  </div>

  <div id="resumo-voo" *ngIf="showResumoVoo" class="mt-3">
    <h2>Resumo da viagem</h2>

    <div class="row">
      <div class="col-5">
        <span class="font-weight-bold">Origem:</span>
      </div>
      <div class="col-7">
        <span>{{ selectedCountryFrom.country }} ({{ selectedCityFrom.city }})</span>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <span class="font-weight-bold">Destino:</span>
      </div>
      <div class="col-7">
        <span>{{ selectedCountryTo.country }} ({{ selectedCityTo.city }})</span>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <span class="font-weight-bold">Distância:</span>
      </div>
      <div class="col-7">
        <span>{{ distance }} km</span>
      </div>
    </div>
    
    <div>
      <span>{{ quantidadeAdultos }} adultos(s), {{ quantidadeCriancas }} criança(s)</span>
    </div>

    <div class="row">
      <div class="col-5">
        <span class="font-weight-bold">Tipo de vôo:</span>
      </div>
      <div class="col-7">
        <span>{{ tipoVoo }}</span>
      </div>
    </div>

    <div>
      <span>R$ {{ precoPorAdulto }} por adulto</span>
    </div>

    <div>
      <span>R$ {{ precoPorCrianca }} por criança</span>
    </div>

    <div class="row">
      <div class="col-5">
        <span class="font-weight-bold">Milhas:</span>
      </div>
      <div class="col-7">
        <span>{{ milhas }}</span>
      </div>
    </div>
  </div>
</div>